.results__container {
  display: grid;
  justify-content: center;
  
}
#displayedResults {
  display: grid;
  list-style-type: none;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 100px;
  grid-row-gap: 50px;

}

#displayedResults li {
  margin: 0 10px;
}

.date__span,
.location__span {
  font-weight: 300;
}
